[submodule "flexBox"]
	path = flexBox
	url = https://github.com/HendrikMuenster/flexBox.git
[submodule "motionEstimationGUI"]
	path = motionEstimationGUI
	url = https://github.com/HendrikMuenster/motionEstimationGUI